timm==0.9.8
objprint==0.2.3
accelerate==0.18.0
torch==2.7.0
tensorboard
easydict
SimpleITK
monai
nibabel
pyyaml
opencv-python
openpyxl
tqdm
termcolor
scikit-learn
pandas
einops
ninja
transformers
matplotlib
